.hero {
  text-align: center;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  font-size: 50px;
  font-weight: 500;
  background-image: url("/bg1.jpg");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.initial {
}

.myname {
}
.closing {
}

.texts {
  padding-top: 350px;
}
