.skills {
  display: flex;
  flex-wrap: wrap;
}

.single_skill {
  box-sizing: border-box;
  border: 1px solid #fff;
  padding: 25px;
  display: flex;
  align-items: center;
  font-size: large;
  flex-grow: 1;
  flex-basis: 350px;
}

.item_name {
  margin-left: 5px;
}

.node {
  background-color: #339933;
}

.react {
  background-color: #61dafb;
}

.firebase {
  background-color: #ffca28;
}

.mongo {
  background-color: #47a248;
}

.wordpress {
  background-color: #21759b;
}

.git {
  background-color: #f05032;
}
